# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
engine.log
security.log
alerts.log
filebeat.log

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Environment Variables
.env
.env.test

# Tệp cài đặt Elasticsearch, Kibana, Filebeat (nếu có để chung trong thư mục)
elasticsearch-*
kibana-*
filebeat-*

# Các file nén tải về
*.tar.gz
*.zip

# Các file tạm của trình soạn thảo
.idea/
.vscode/
*.swp
*.swo
